<aside>
	<div class="panel radius">
		<h3>SOLID PRINCIPLES</h3>
		<p>
			<ul style="list-style-type: none;">
		<li>S - Single-responsiblity Principle</li>
		<li>O - Open-closed Principle</li>
		<li>L - Liskov Substitution Principle</li>
		<li>I - Interface Segregation Principle</li>
		<li>D - Dependency Inversion Principle</li>
			</ul>
		</p>
	</div>

	<div class="border-dotted radius b30">
		<img src="https://learning.oreilly.com/library/cover/0596007124/250w/" alt="HF Design Patterns">
		<p class="text-left">
			A great book despite (or because of) its unusual approach</a>
		</p>
	</div>

	<div class="border-dotted radius b30">
		<img src="https://learning.oreilly.com/library/cover/0321247140/250w/" alt="Design Patterns Explained">
		<p class="text-left">
			The quintessential reference book for DPs</a>
		</p>
	</div>
</aside>
